Q1:- Convert an integer to a floating-point number.

In [5]:
int_num = 10
float_num = float(int_num)
print(type(float_num))
print(float_num)

<class 'float'>
10.0

Q2:- Convert a float to an integer.

In [6]:
float_num = 10.0
int_num = int(float_num)
print(type(int_num))
print(int_num)

<class 'int'>
10

Q3:- Convert an integers to string.

In [7]:
int_num = 10
string = str(int_num)
print(type(string))
print(string)

<class 'str'>
10

Q4:- Convert a list to a tuple.

In [9]:
my_list = [1,2,3,4,5,6]
my_tuple = tuple(my_list)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

Q5:- Convert a tuple to a list.

In [10]:
my_tuple = (1,2,3,4,5,6)
my_list = list(my_tuple)
print(type(my_list))
print(my_list)

<class 'list'>
[1, 2, 3, 4, 5, 6]

Q6:- Convert a decimal number to binary.

In [13]:
num_decimal = 10
num_binary = bin(num_decimal)
print(num_binary)

0b1010

Q7:- Convert a non-zero number to boolean.

In [19]:
num = 10
boolean_value = bool(num)
print(boolean_value)

True